/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Anek Tamil', sans-serif;
}

/* Common Styles */

.container {
  max-width: 90%;
  margin: 0 auto;
}

a:-webkit-any-link {
  text-decoration: none;
}
.flex {
  display: flex;
}
.space-btw {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.gap-2 {
  gap: 2rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-half {
  gap: 0.5rem;
}
.padd-1 {
  padding: 1rem 0;
}

.wrap {
  flex-wrap: wrap;
}
.pointer {
  cursor: pointer;
}

/* Loading */
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
/* Header */

header {
  padding: 1rem;
}

.logo {
  color: rgb(89, 172, 89);
  font-size: 1.5rem;
}
.nav-link {
  font-size: 1rem;
  color: rgb(192, 192, 192);
}
.nav-link:hover {
  color: gray;
}
.active {
  color: grey;
}
.header-user-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Not Found */

.not-found-holder {
  min-height: 50vh;
}
.not-found {
  text-align: center;
  font-size: 3rem;
  color: rgb(218, 95, 73);
}

/* Hero */

#hero-section {
  background-color: rgb(89, 172, 89);
  padding: 2rem;
}
.hero-heading,
.hero-subheading {
  font-size: 3.5rem;
  color: white;
  font-weight: 600;
  text-align: center;
}
.hero-subheading {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 2rem;
}

/* Sign in */

.sign-in-form {
  width: 40%;
  margin: 2rem auto;
  padding: 2rem;
}
.signin-input {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid lightgray;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 1rem;
  color: rgb(85, 84, 84);
}
.signin-input::placeholder {
  color: rgb(161, 161, 161);
}
.signin-input:focus {
  outline: none;
  border: 1px solid rgb(29, 146, 241);
}
.signin-submit {
  display: block;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(89, 172, 89);
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
  float: right;
}
.signin-submit:hover {
  background-color: rgb(121, 199, 121);
}
.signin-heading {
  text-align: center;
  font-size: 3rem;
  color: black;
}
.need-account {
  text-align: center;
  color: rgb(89, 172, 89);
  font-size: 1.1rem;
  margin-top: 1rem;
  display: block;
}
.err-msg {
  color: red;
  margin: 5px;
}

/* Main */

.no-articles {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: tomato;
}
.global-feed {
  cursor: pointer;
  color: gray;
}
.feed-toggle::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 2px solid rgb(231, 230, 230);
  margin-top: 0.6rem;
}
.row {
  margin-top: 1rem;
  padding: 0 1rem;
}
.feed {
  width: 69%;
  padding: 0 1rem;
}
.tags {
  width: 30%;
  background-color: rgb(223, 242, 247);
  border-radius: 5px;
  height: fit-content;
  padding: 0.3rem 0.2rem;
}
.tags-heading {
  font-size: 1.1rem;
}
.tag {
  background-color: rgb(185, 221, 227);
  padding: 10px;
  border-radius: 15px;
  width: fit-content;
  color: rgb(45, 72, 96);
  cursor: pointer;
  font-weight: 500;
  border: 2px solid rgb(185, 221, 227);
}
.tag:hover {
  border: 2px solid rgb(95, 95, 95);
}
.active-tag {
  border: 2px solid rgb(95, 95, 95);
  text-decoration: underline;
}
.tag-list-holder {
  margin-top: 1rem;
  height: fit-content;
}
.pageNo {
  padding: 10px;
  color: green;
  background-color: transparent;
  border: 1px solid lightgray;
  cursor: pointer;
}
.activePageNo {
  padding: 10px;
  border: 1px solid lightgray;
  background-color: green;
  color: white;
  cursor: pointer;
}
.noOfPage:hover {
  background-color: green;
  color: white;
}

.pagination-holder {
  margin-top: 2rem;
  flex-wrap: wrap;
}
/* Article */

.author-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.likes-count-holder {
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid rgb(99, 173, 99);
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}
.likes-count-holder:hover {
  background-color: rgb(99, 173, 99);
}

.likes-count-holder:hover .likes,
.heart {
  color: white;
}
.likes-count-holder:hover .heart {
  color: white;
}
.likes,
.heart {
  font-size: 0.8rem;
  color: rgb(99, 173, 99);
}
.author-name {
  color: rgb(99, 173, 99);
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.date {
  color: rgb(143, 142, 142);
}
.article-title {
  font-size: 1.7rem;
  color: rgb(105, 105, 105);
  font-weight: 500;
  margin-bottom: 0.5rem;
  cursor: pointer;
  width: fit-content;
  border: none;
  background-color: transparent;
  text-align: start;
}
.article-description {
  font-size: 1rem;
  color: rgb(105, 105, 105);
  cursor: pointer;
  width: fit-content;
  border: none;
  background-color: transparent;
}
.read-more {
  border: none;
  background-color: transparent;
  color: rgb(192, 192, 192);
  cursor: pointer;
}
.test {
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(201, 201, 201);
  padding: 5px 10px;
  border-radius: 10px;
  color: gray;
  cursor: pointer;
}
.single-article::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 2px solid rgb(236, 236, 236);
  margin-top: 0.6rem;
  margin-bottom: 1rem;
}
.feed-list-holder {
  margin-top: 1.5rem;
}

/* Single Article */

#single-art-hero {
  padding: 2rem;
  background-color: rgb(36, 35, 36);
}

#hero-section {
  background-color: rgb(89, 172, 89);
  padding: 2rem;
}
.single-art-heading,
.single-art-subheading {
  text-align: start;
  font-size: 2.5rem;
  font-weight: 400;
}
.single-art-subheading {
  text-align: start;
  font-size: 2rem;
  font-weight: 400;
}
.author-single-art {
  color: white;
}
.single-art-description {
  font-size: 1.3rem;
  color: rgb(70, 70, 70);
  margin-top: 2rem;
}
.single-art-tag {
  color: lightgray;
  border-radius: 30px;
  border: 1px solid lightgray;
  padding: 3px 10px;
  width: fit-content;
  margin: 3rem 0;
}
.single-art-holder::after {
  content: '';
  display: block;
  /* width: 100%; */
  border-bottom: 2px solid rgb(221, 221, 221);
  margin-top: 0.6rem;
}
.activeToggle {
  color: green;
}

/* NewPost */

.new-post-form {
  width: 80%;
  margin: 3rem auto;
  padding: 1rem;
}
.input-article-body {
  width: 100%;
  display: block;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(215, 215, 215);
}

.input-article-title {
  width: 100%;
  display: block;
  padding: 10px;
  font-size: 1.3rem;
  border: 1px solid rgb(215, 215, 215);

  margin-bottom: 1rem;
}
.input-article-description {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  border: 1px solid rgb(215, 215, 215);
  padding: 10px;
  font-size: 1rem;
  display: block;
}
.publish-article {
  padding: 1rem 2rem;
  background-color: green;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  display: block;
  float: right;
}

/* Setting */

.setting-heading {
  font-size: 2.5rem;
  color: rgb(70, 69, 69);
  font-weight: 500;
  text-align: center;
}
.setting {
  width: 50%;
  margin: 2rem auto;
  padding: 1rem;
}
.settings-from:after {
  content: '';
  border-top: 1px solid black;
  width: 100%;
}
.logout-btn {
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: 1px solid tomato;
  color: tomato;
  font-size: 1rem;
  display: block;
  margin-top: 5rem;
  border-radius: 10px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: tomato;
  color: white;
}

/* user profile */

#user-profile-hero-section {
  padding: 1rem;
  background-color: rgb(244, 244, 244);
  padding-bottom: 4rem;
}
.user-profile-image {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
}
.user-profile-bio {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
}
.user-profile-name {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.follow-user {
  background-color: rgb(196, 195, 196);
  padding: 10px;
  color: rgb(95, 95, 94);
  font-weight: 500;
  border-radius: 2px;
  font-size: 0.9rem;
  border: 1px solid gray;
  margin-right: 2rem;
  float: right;
  cursor: pointer;
}
.ion-android-contact,
.ion-compose,
.ion-ios-gear {
  margin-right: 5px;
  font-size: 1.1rem;
}

/* Add comment */

.post-comment-holder {
  padding: 1rem;
  background-color: rgb(236, 235, 235);
}
.comment-box-holder,
.comment-list-holder {
  width: 50%;
  margin: 3rem auto;
  font-size: 0;
  border-radius: 10px;
  border: 2px solid lightgray;
}
.commentInput {
  width: 100%;
  height: 100px;
  padding: 1rem;
  font-size: 1.1rem;
  border: none;
}
.commentInput:focus {
  outline: none;
}
.comment-user-info {
  font-size: 0.9rem;
}
.comment-user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.comment-user-info h3 {
  font-size: 0.9rem;
}
.post-comment {
  padding: 10px;
  float: none;
  margin: 0;
}
.comment-text {
  font-size: 1.1rem;
  padding: 1rem;
}
.comment-username {
  color: green;
  font-size: 1rem;
}

/* Edit And Delete Article */

.edit-article {
  padding: 0.5rem 1rem;
  color: rgb(198, 197, 197);
  border: 2px solid rgb(204, 203, 203);
  background-color: transparent;
}

.delete-article {
  padding: 0.5rem 1rem;
  color: rgb(252, 88, 88);
  border: 2px solid rgb(245, 78, 78);
  background-color: transparent;
}

.unFollow-user {
  background-color: rgb(230, 229, 230);
}
.ion-android-favorite,
.ion-android-favorite-outline {
  color: green;
}
.ion-ios-trash-outline {
  border: none;
  color: red;
  outline: none;
  font-size: 1rem;
  font-weight: 800;
}
